<h4>Internal Server Error</h4>
@if (error) {
  <h5 class="text-danger">Error {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note : if you are seeing this is a server error, not Angular's
  </p>
  <p>What next?</p>
  <ol>
    <li>open chrome dev tool and check the failing network request</li>
    <li>Examine the URL of the failing request</li>
    <li>Reproduce the error in Postman</li>
  </ol>
  <p class="font-weight-bold">
    Following is the stack trace - check the first 2 lines this tells which line
    of code caused the problem
  </p>
  <code class="mt-5 bg-white">{{ error.details }}</code>
}
