<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/">Dating App</a>
    @if (accountService.currentUser()) {
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/members"
            routerLinkActive="active"
            class="nav-link text-light"
            aria-current="page"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/lists"
            routerLinkActive="active"
            class="nav-link text-light"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/messages"
            routerLinkActive="active"
            class="nav-link text-light"
            >Messages</a
          >
        </li>
      </ul>
    }
    @if (accountService.currentUser()) {
      <div dropdown class="dropdown">
        <a
          dropdownToggle
          class="dropdown-toggle text-light text-decoration-none"
          >Welcome {{ accountService.currentUser()?.username | titlecase }}</a
        >
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    }

    @if (!accountService.currentUser()) {
      <form
        [formGroup]="loginForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          formControlName="username"
          name="username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
        />
        <input
          formControlName="password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    }
  </div>
</nav>
